<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{filename}}</title>
    <link rel="stylesheet" href="/assets/github-markdown.css">
    <link rel="stylesheet" href="/assets/semantic/dist/semantic.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
{{{body}}}
</body>
<script type="text/javascript" src="/assets/semantic/dist/semantic.js"></script>
</html>